<div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="search()" #listForm="ngForm">
            <div class="form-group">
                <label for="query">Search</label>
                <div class="row">
                    <div class="col">
                        <input type="text" [(ngModel)]="query.value" class="form-control" id="query" name="query"
                            placeholder="Search books" required #value="ngModel">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-info">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of books">
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>